:root {
  /* THEME COLORS */
  --darktheme-background: #303952;
  --darktheme-secondary: #596275;
  --darktheme-text: #F8F8FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}