.navbar {
    position: sticky;
    padding: 2rem;
    display: flex;
    background: var(--darktheme-background);
}

.navbar * {
    color: var(--darktheme-text);
}

.navbar p {
    --fontsize: 1.5rem;
    position: absolute;
    top: calc(50% - (var(--fontsize)  / 2));
    font-size: var(--fontsize);
}

.link-list {
    list-style: none;
    display: flex;
    gap: 4rem;
    margin: 0 auto;
}

.mobile-menu-icon {
    display: none;
}

/* TABLET SCREENS */
@media screen and (min-width: 768px) and (max-width: 1080px) {
    .link-list {
        margin-right: 1.5rem;
    }
}

/* MOBILE SCREENS */
@media screen and (max-width: 768px) {
    .link-list {
        flex-direction: column;
        gap: 1rem;
        display: none;
        position: fixed;
        right: 3rem;
        background: var(--darktheme-secondary);
    }

    .link-list[data-visible="true"] {
        display: inherit;
    }

    .link-list li {
        padding: 1rem;
    }

    .mobile-menu-icon {
        display: block;
        margin-left: auto;
    }

    .mobile-menu-icon:hover {
        cursor: pointer;
    }
}